/*------------------------------------*\
    $页头
\*------------------------------------*/

.header {
    line-height: 1.5em;
    li {
        width: 100px!important;
    }
    position: relative;
    .offcanvas-start {
        width: 180px!important;
    }
    .form-control {
        height: 30px!important;
    }
    label {
        font-size: 12px!important;
        top: -8px!important;
    }
}

img {
    position: relative;
    width: 2em;
    top: -5px!important;
}

.offcanvas-start {
    width: 180px!important;
    .btn-close {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

#login-bar {
    height: 200px;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    .row {
        background-color: rgba(45, 45, 45, .8);
        height: 80px;
    }
    .lrics {
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding: 5px 0;
        color: rgba(45, 45, 45, .8);
        background-color: #f5f3f2;
        border: 2px solid #eae5e3;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        @include shape-tri(top, 6px, 2px, #f5f3f2, #eae5e3);
    }
    //
    // 所有的相关封面旋转
    //
    .port img {
        width: 4em;
        &.active {
            transform: rotate(3600deg);
            -webkit-transform: rotate(3600deg);
            -moz-transform: rotate(3600deg);
            -ms-transform: rotate(3600deg);
            -o-transform: rotate(3600deg);
            transition: all 360s linear;
            -webkit-transition: all 360s linear;
            -moz-transition: all 360s linear;
            -ms-transition: all 360s linear;
            -o-transition: all 360s linear;
        }
    }
}

.trl .iconfont {
    display: inline-block;
    font-size: 1.5em;
    line-height: 30px;
    // color: green;
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}

.opreate {
    position: relative;
    i {
        position: relative;
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
    i.list:hover .meun {
        // color: #2c2f3b;
        display: flex;
    }
    i.active {
        color: #2c2f3b;
    }
    .meun {
        display: none;
        position: absolute;
        top: -200px;
        right: -95px;
        border: none;
        z-index: 2;
        @include shape-tri(bottom, 10px, 0, #fff);
        .list-group {
            height: 200px;
            background-color: #fff;
            overflow: auto;
            opacity: .7;
        }
        li {
            width: 200px;
            text-align: center;
        }
        .form-range {
            width: 80px;
            line-height: 10px;
        }
    }
}

#player-fill {
    height: calc(100% - 120px);
    .row {
        height: 100%;
        .col-8 {
            height: 100%;
            img {
                width: 100%;
                opacity: .1;
            }
            .lrics2 {
                p {
                    font-family: 楷体;
                }
                .active {
                    color: #555f4d;
                    font-size: 20px;
                    background-color: #d5ebe1;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
        }
        .col-4 {
            height: 100%;
            // background-color: $cs2;
            .nav li {
                font-size: 12px;
                line-height: 50px;
                a.active {
                    background-color: rgba(0, 0, 0, .05);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
            .list-group {
                margin-top: 5px;
                display: none;
                li {
                    background-color: rgba(0, 0, 0, .05);
                    border: none;
                    font-size: 12px;
                }
                &.active {
                    display: flex;
                }
            }
            section {
                text-align: center;
            }
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    .s0 li {
        display: none;
        position: relative;
        width: 100px;
        height: 150px;
        background-color: $cs2;
        word-wrap: break-word;
        margin-right: 5px;
        margin-top: 5px;
        img {
            position: absolute;
            width: 100%;
            opacity: .5;
            z-index: -1;
        }
        .port {
            width: 100px;
            height: 100px;
            position: relative;
            display: flex;
            align-items: flex-end;
            .infor {
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }
        a {
            font-size: 12px;
            line-height: 14px
        }
    }
    table {
        td {
            .song {
                margin: 0 3px;
            }
            .res {
                font-size: 12px;
                color: rgba(0, 0, 0, .5);
            }
        }
    }
}