.a::before {
  content: "a";
}

.b::before {
  content: "b";
}

.c::before {
  content: "c";
}

.d::before {
  content: "d";
}

.icon-eye:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "<";
  font-size: 18px;
}

.icon-start:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "<";
  font-size: 16px;
}

.icon-stop:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "<";
  font-size: 10px;
}

.a {
  background: url("../img/a.webp") no-repeat;
  width: 200px;
  height: 100px;
  background-size: contain;
}

.b {
  background: url("../img/b.webp") no-repeat;
  width: 200px;
  height: 100px;
  background-size: contain;
}

.c {
  background: url("../img/c.webp") no-repeat;
  width: 200px;
  height: 100px;
  background-size: contain;
}

.d {
  background: url("../img/d.webp") no-repeat;
  width: 200px;
  height: 100px;
  background-size: contain;
}

.cs3 {
  width: 100px;
  height: 30px;
  background-color: rgba(100, 30, 60, 0.5);
}

.cs4 {
  width: 100px;
  height: 40px;
  background-color: rgba(100, 40, 80, 0.5);
}

.cs5 {
  width: 100px;
  height: 50px;
  background-color: rgba(100, 50, 100, 0.5);
}

html {
  padding: 10px;
  margin: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.2);
}

* {
  margin: 4px;
}

#sass, .cs2 {
  margin-left: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  width: 310px;
  background-color: rgba(0, 0, 0, 0.2);
}

#sass .cs, .cs2 .cs {
  background-color: rgba(0, 0, 0, 0.2);
  border-left: 2px solid red;
}

#sass:hover, .cs2:hover {
  background-color: blue;
}

.cs2 {
  display: inline-block;
  padding: 0 4px;
  border: 2px solid gray;
  overflow: hidden;
  padding-left: 20px;
  border-top-left-radius: 300px;
  -moz-border-radius-topleft: 300px;
  -webkit-border-top-left-radius: 300px;
}

p {
  color: #646421;
}
