@font-face {
    font-family: "iconfont";
    /* Project id 3375455 */
    src: url('iconfont.woff2?t=1652064352115') format('woff2'), url('iconfont.woff?t=1652064352115') format('woff'), url('iconfont.ttf?t=1652064352115') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
    content: "\e610";
}

.icon-good:before {
    content: "\e63f";
}

.icon-add:before {
    content: "\e669";
}

.icon-queuemusic:before {
    content: "\ecc1";
}

.icon-circle-next:before {
    content: "\e614";
}

.icon-music:before {
    content: "\e61a";
}

.icon-music1:before {
    content: "\e62a";
}

.icon-Next:before {
    content: "\e66c";
}

.icon-Previous:before {
    content: "\e671";
}

.icon-music_off:before {
    content: "\e982";
}

.icon-1_music82:before {
    content: "\e6a9";
}

.icon-1_music83:before {
    content: "\e6ac";
}

.icon-1_music81:before {
    content: "\e6aa";
}

.icon-music_pause:before {
    content: "\e720";
}