/*------------------------------------*\
    $页头
\*------------------------------------*/

html,
body {
    height: 100%;
    overflow: hidden;
}

@include load1('xxx');
.header {
    line-height: 1.5em;
    li {
        width: 100px !important;
    }
    position: relative;
    .offcanvas-start {
        width: 180px !important;
    }
    .form-control {
        height: 30px !important;
    }
    label {
        font-size: 12px !important;
        top: -8px !important;
    }
    img {
        width: 50px;
    }
    .bar-btn {
        font-size: 12px;
        height: 30px;
        line-height: 48px;
        outline: none;
        border: none;
        background-color: rgb(248, 249, 250);
    }
}

//搜索建议
#list {
    position: absolute;
    width: 100%;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 3px 3px 1px rgba(45, 45, 45, .3);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 7;
    li {
        position: relative;
        left: -20px;
        width: 100% !important;
        margin: 10px 0;
        padding: 5px;
        // background-color: #b0b0b0;
        opacity: .6;
        a {
            text-decoration: none;
            color: rgb(0, 0, 0);
            &:hover {
                color: red;
            }
        }
        &:hover {
            opacity: 1;
            background-color: rgba(0, 0, 0, .1);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }
    }
    .b-link {
        float: right;
    } //
}

span.badge {
    position: absolute;
    right: 10px;
    top: 10px;
}

#bug ul {
    list-style: none;
    position: relative;
    padding: 0;
}

img {
    position: relative;
    width: 2em;
    top: -5px !important;
}

.offcanvas-start {
    width: 180px !important;
    .btn-close {
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

button img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

//
#login-bar {
    height: 200px;
    &>.login {
        .row {
            margin-top: 20px;
        }
        display: flex;
        flex-direction: row;
        top: 20px;
        .infor {
            position: relative;
            background-color: #fff;
            width: 200px;
            height: 70px;
            box-sizing: border-box;
            top: 40px;
            left: 30px;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
            .t1 {
                position: absolute;
                height: 60px;
                width: 60px;
                padding: 0;
                border-radius: 50%;
                left: 70px;
                top: -30px;
                // box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
                    border-radius: 50%;
                }
            }
            .t2 {
                width: 100%;
                bottom: 0;
                left: 0;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .nameid {
                    font-size: 12px;
                }
            }
            border-radius:10px;
        }
    }
    .wyy {
        position: absolute;
        left: 250px;
        top: 75px;
        font-size: 12px;
        color: rgba(45, 45, 45, .8);
        display: flex;
        justify-content: center;
        align-items: center;
        div {
            background-color: #fff;
            min-width: 100px;
            text-align: center;
            min-height: 50px;
            // line-height: 50px;
            margin: 0 5px;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
            border-radius: 10px;
            padding: 5px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
        p {
            background-color: #fff;
            min-width: 100px;
            text-align: center;
            height: 50px;
            line-height: 50px;
            margin: 0 5px;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, .2);
            border-radius: 10px;
            position: absolute;
            top: -60px;
            left: 120px;
            width: 100%;
            background: rgb(45, 45, 45);
            color: whitesmoke;
            height: 50px;
            line-height: 40px;
            margin-right: 15px;
            position: relative;
            border: 5px solid rgb(201, 197, 197);
            @include shape-tri(right, 10px, 5px, rgb(45, 45, 45), rgb(201, 197, 197));
        }
    }
    .notlogin {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    .row {
        background-color: rgba(45, 45, 45, .8);
        height: 80px;
    }
    .lrics {
        position: relative;
        z-index: 5;
        text-align: center;
        font-size: 12px;
        line-height: 20px;
        padding: 5px 0;
        color: rgba(45, 45, 45, 0.753);
        background-color: #f5f3f2;
        border: 2px solid #eae5e3;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        @include shape-tri(top, 6px, 2px, #f5f3f2, #eae5e3);
        .progress {
            position: absolute;
            height: 100%;
            width: 0;
            left: 0;
            top: 0;
            background-color: #7c7c6d8c;
            transition: width .3s linear;
            -webkit-transition: width .3s linear;
            -moz-transition: width .3s linear;
            -ms-transition: width .3s linear;
            -o-transition: width .3s linear;
        }
        .now {
            left: 15px;
            position: absolute;
            z-index: 4;
        }
    }
    .allTime {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 5px;
    }
    //
    // 所有的相关封面旋转
    //
    .row .port {
        border-radius: 100px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        i {
            position: relative;
            top: -20px;
        }
        img {
            width: 70px;
            height: 70px;
            &.active {
                width: 70px;
                height: 70px;
                transform: rotate(3600deg);
                -webkit-transform: rotate(3600deg);
                -moz-transform: rotate(3600deg);
                -ms-transform: rotate(3600deg);
                -o-transform: rotate(3600deg);
                transition: all 360s linear;
                -webkit-transition: all 360s linear;
                -moz-transition: all 360s linear;
                -ms-transition: all 360s linear;
                -o-transition: all 360s linear;
                border-radius: 100px;
                -webkit-border-radius: 100px;
                -moz-border-radius: 100px;
                -ms-border-radius: 100px;
                -o-border-radius: 100px;
            }
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
}

.trl .iconfont {
    display: inline-block;
    font-size: 1.5em;
    line-height: 30px;
    // color: green;
    opacity: .5;
    &:hover {
        opacity: 1;
    }
}

.opreate {
    position: relative;
    i {
        position: relative;
        &:hover {
            opacity: 1;
        }
        .count.badge {
            position: absolute;
            width: 20px;
            height: 20px;
            left: -15px;
            font-size: 12px;
            display: inline-block;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            top: -10px;
        }
    }
    i.list:hover .meun {
        // color: #2c2f3b;
        display: flex;
    }
    i.active {
        opacity: 1;
    }
    .meun {
        display: none;
        position: absolute;
        top: -300px;
        right: -95px;
        border: none;
        z-index: 100000;
        @include shape-tri(bottom, 10px, 0, #fff);
        .list-group {
            height: 300px;
            background-color: #fff;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        li {
            width: 200px;
            text-align: center;
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
            }
            &.on {
                background-color: #e9e6e6!important;
                color: rgb(95, 94, 94)!important;
            }
        }
    }
    input {
        -webkit-appearance: none;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        height: 5px;
        background-color: #fff;
        outline: none;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            background-color: rgb(94, 91, 91);
            border: 1px solid white;
            //opacity: .6;
            transition: all .4s ease;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -ms-transition: all .4s ease;
            -o-transition: all .4s ease;
            &:hover {
                width: 18px;
                height: 18px;
            }
        }
    }
}

#player-fill {
    height: calc(100% - 115px);
    max-height: 820px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 10000;
    // background-color: red;
    .row {
        overflow: scroll;
        @include noScroll();
        // height: 100%;
        .col-md-8.card {
            height: 100%;
            // background-color: rgba(0, 0, 0, .2);
            img {
                height: 100%;
                opacity: .3;
            }
            .lrics2 {
                .words {
                    height: 250px;
                    background-color: rgba(0, 0, 0, .1);
                    border-radius: 40% 39% 9% 10% / 38% 33% 0% 0%;
                    -webkit-border-radius: 40% 39% 9% 10% / 38% 33% 0% 0%;
                    -moz-border-radius: 40% 39% 9% 10% / 38% 33% 0% 0%;
                    -ms-border-radius: 40% 39% 9% 10% / 38% 33% 0% 0%;
                    -o-border-radius: 40% 39% 9% 10% / 38% 33% 0% 0%;
                }
                p.l1 {
                    font-size: 12px;
                    opacity: .3;
                }
                p.l2 {
                    font-size: 14px;
                    opacity: .5;
                }
                p.l3 {
                    font-size: 16px;
                    opacity: 1;
                    // background-color: rgba(0, 0, 0, .1);
                    color: rgb(226, 94, 94);
                }
                p.l4 {
                    font-size: 14px;
                    opacity: .5;
                }
                p.l5 {
                    font-size: 12px;
                    opacity: .3;
                }
                p {
                    font-family: 楷体;
                    margin-top: 20px;
                    color: #fff;
                }
            }
        }
        .col-md-4 {
            height: 100%;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
            .nav li {
                font-size: 12px;
                line-height: 30px;
                span.active {
                    // background-color: rgba(0, 0, 0, .05);
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                }
            }
            .list-group {
                margin-top: 5px;
                display: none;
                li {
                    background-color: rgba(0, 0, 0, .05);
                    border: none;
                    font-size: 12px;
                }
                &.active {
                    display: flex;
                }
            }
            section {
                text-align: center;
                // width: 100%;
                font-size: 12px !important;
            }
        }
    }
}

.main {
    width: 100%;
    height: 100%;
    .row {
        height: 100%
    }
    &::-webkit-scrollbar {
        display: none;
    }
    h4 {
        border-bottom: 1px solid rgba(0, 0, 0, .3);
        height: 50px;
    }
    .s3 {
        height: calc(100% - 250px)!important;
        overflow: scroll;
        @include noScroll;
        .td {
            top: 20px;
            position: relative;
            font-size: 12px;
            .song {
                margin: 0 3px;
            }
            .res {
                font-size: 12px;
                color: rgba(0, 0, 0, .5);
            }
            .icon-add {
                top: 0px;
                position: absolute;
                display: inline-block;
                font-size: 15px;
                &:hover {
                    font-size: 20px;
                    color: rgb(31, 146, 21);
                    top: -2px;
                }
                transition:all .1s linear;
                -webkit-transition:all .1s linear;
                -moz-transition:all .1s linear;
                -ms-transition:all .1s linear;
                -o-transition:all .1s linear;
            }
        }
    }
    .s2 {
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, .2);
        position: relative;
        // height: 500px!important;
        z-index: 0;
        &>button {
            width: 150px;
            height: 30px;
            line-height: 15px;
            position: absolute;
            top: 50%;
            left: calc(50% - 75px);
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
        .tt {
            position: relative;
            top: -3px;
            left: -10px;
            height: 500px!important;
            width: 100%;
        }
    }
    .s0 {
        overflow: auto;
        @include noScroll;
        height: calc(100% - 250px)!important;
        box-shadow: 0 3px 3px 3px rgba(0, 0, 0, .2);
        padding: 10px 0;
    }
    .s0 li {
        // display: none;
        position: relative;
        width: 100px;
        height: 150px;
        margin: 10px 10px;
        word-wrap: break-word;
        opacity: .7;
        z-index: 6;
        &:hover {
            opacity: 1;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
        }
        img {
            position: absolute;
            width: 100%;
            //opacity: .5;
            z-index: -1;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .port {
            width: 100px;
            height: 100px;
            position: relative;
            display: flex;
            align-items: flex-end;
            .infor {
                display: flex;
                justify-content: space-around;
                width: 100%;
                font-size: 12px !important;
                color: rgba(255, 255, 255, 0.8);
                border-top: 1px solid rgba(0, 0, 0, .1);
                transform: scale(.8);
                -webkit-transform: scale(.8);
                -moz-transform: scale(.8);
                -ms-transform: scale(.8);
                -o-transform: scale(.8);
            }
        }
        p {
            font-size: 12px;
            line-height: 18px;
            padding: 0 5px;
            transform: scale(.9);
            -webkit-transform: scale(.9);
            -moz-transform: scale(.9);
            -ms-transform: scale(.9);
            -o-transform: scale(.9);
        }
        box-shadow:0 0 4px 3px rgba(0, 0, 0, .1);
        border-radius:10px;
        -webkit-border-radius:10px;
        -moz-border-radius:10px;
        -ms-border-radius:10px;
        -o-border-radius:10px;
        -webkit-border-radius:10px;
        transition:all .3s linear;
        -webkit-transition:all .3s linear;
        -moz-transition:all .3s linear;
        -ms-transition:all .3s linear;
        -o-transition:all .3s linear;
    }
}

@include load1(load2, 5);
.waiting {
    display: none;
}

//相似歌曲
ul.similar,
ul.mv {
    height: 210px;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
    li {
        height: 30px;
        &:hover {
            background-color: #fff;
        }
        img {
            margin-left: 10px;
            margin-top: 6px;
        }
        span {
            // white-space: nowrap;
            display: inline-block;
            width: 70%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        opacity: .5;
        &:hover {
            opacity: 1;
        }
    }
}

ul.mv-player li {
    height: 60px;
}

//mvplayer
#mvplayer {
    width: 100% !important;
    height: calc(100% - 120px);
    display: flex;
    flex-direction: row;
    video {
        object-fit: contain;
        width: 75%;
        height: 100%;
        outline: none;
        //border: 1px solid rgb(97, 94, 94);
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .5);
        border-radius: 2%;
        margin: 5px;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        -ms-border-radius: 2%;
        -o-border-radius: 2%;
    }
    .mv-player {
        overflow: scroll;
        height: 100%;
        font-size: 12px;
        text-align: center;
        box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, .5);
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            width: 100%;
            height: 70%;
            object-fit: contain;
        }
        li {
            height: 160px;
            margin-top: 5px;
            overflow: hidden;
            color: lightgrey;
            border-bottom: 1px solid lightgrey;
            background-color: rgba(45, 45, 45, .8);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            opacity: .7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.power {
    .more {
        position: relative;
        z-index: 5;
        div {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            background-color: #fff;
            #baike {
                position: absolute;
                left: 0;
                width: 100%;
                height: 300px;
                ul {
                    width: 100%;
                    height: 300px;
                    background-color: $bg-1;
                    overflow: scroll;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
        }
    }
}

#more {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 100%;
    background-color: $bg-1;
    z-index: 5;
    overflow: scroll;
    &::-webkit-scrollbar {
        display: none;
    }
}

//评论
.nav.nav-justified {
    position: relative;
    z-index: 5;
    .comment {
        position: absolute;
        width: 100%;
        height: 440px;
        top: 100%;
        background-color: $bg-1;
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-top-right-radius: none;
        overflow: scroll;
        &::-webkit-scrollbar {
            display: none
        }
        ;
        ol {
            list-style-type: none;
            width: 100%;
            li {
                position: relative;
                left: -30px;
                padding: 5px 0;
                font-size: 12px;
                line-height: 18px !important;
                height: 120px;
                vertical-align: middle;
                // background-color: #fff;
                overflow: hidden;
                border-bottom: 1px solid rgba(0, 0, 0, .1);
                img {
                    float: left;
                    height: 100px;
                    width: 100px;
                    top: 5px !important;
                }
                .sp {
                    position: relative;
                    top: 5px;
                    left: 4px;
                    height: 70px;
                    overflow: hidden;
                    .speaker {
                        color: cornflowerblue;
                        margin-right: 5px;
                    }
                }
                .tim {
                    color: #b0b0b0;
                }
                i {
                    font-size: 12px;
                }
            }
        }
    }
    .nav-item .active {
        background-color: $bg-1;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

//
#musicPool {
    position: absolute;
    bottom: 120px;
    width: 100%;
    height: 400px;
    background-color: $bg-1;
    box-shadow: 0 -3px 6px 2px rgba(45, 45, 45, .3);
    border-bottom: none;
    z-index: 6;
    &>span {
        position: absolute;
        z-index: 6;
        top: 6px;
        &.poolclose {
            right: 6px;
        }
        &.poolup {
            right: 100px;
        }
        &.pooldown {
            right: 50px;
        }
    }
    h5 {
        position: absolute;
        width: 100%;
        padding: 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    .tt {
        position: relative;
        top: 40px;
        height: 350px!important;
        overflow: scroll;
        @include noScroll;
    }
    table {
        th {
            font-size: 14px;
        }
        td {
            position: relative;
            font-size: 12px;
            .song {
                margin: 0 3px;
            }
            .res {
                font-size: 12px;
                color: rgba(0, 0, 0, .5);
            }
            .icon-add {
                top: 0px;
                position: absolute;
                display: inline-block;
                font-size: 15px;
                &:hover {
                    font-size: 20px;
                    color: rgb(31, 146, 21);
                    top: -2px;
                }
                transition:all .1s linear;
                -webkit-transition:all .1s linear;
                -moz-transition:all .1s linear;
                -ms-transition:all .1s linear;
                -o-transition:all .1s linear;
            }
        }
    }
}

//网站说明页
.offcanvas-body {
    padding: 0!important;
    overflow: hidden;
}

.offcanvas-header {
    width: 170px;
    font-size: 12px;
    margin-left: 5px;
    li.port,
    li.port a {
        display: flex;
        justify-content: center;
        background-color: transparent;
    }
    li {
        background-color: $bg-1;
        margin: 5px 0;
        width: 100%;
        padding: 3px;
        p,
        a {
            position: relative;
            width: 120px;
            padding: 0 3px;
            word-break: break-all;
            color: rgb(146, 141, 141);
            span {
                display: inline-block;
                color: rgb(223, 64, 64);
                line-height: 15px;
                position: relative;
                top: 8px;
                text-align: center;
                width: 100%;
            }
        }
        border-radius:5px;
        -webkit-border-radius:5px;
        -moz-border-radius:5px;
        -ms-border-radius:5px;
        -o-border-radius:5px;
    }
}